@import './constants.scss';

.lbl-icon-button{font-size: $tamanio-fuente-icon;padding: 1px 3px;}

.bg-app{background-color: $bg-app;}
.text-app{color: $bg-app;}
.text-muted{ color: rgb(107 114 128 / var(--tw-text-opacity));}
.bg-header{background-color: $bg-header;}
.height-header{height: $header-height;}
:root{overflow-x: hidden;} 
@font-face {
font-family: "roboto";
src: url("../../libs/fonts/roboto/Roboto-regular.ttf")
}