$tamanio-fuente:13px;
$tamanio-fuente-icon:12px;
$sidebar-width:250px;
$sidebar-width-sm:50px;
$header-height:50px;
$bg-app:#2A3F54;
$text-app:#2A3F54;
$bg-header:#EDEDED;
$bg-color-active:rgb(9, 194, 157);
